
#Video2{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}

.hero2{
    height: 1vh;
    width: 100%;
    object-fit: contain;
    z-index: 1;
    align-items: center;
}

.formContainer{
    font-size: 2rem;
    font-weight: 400;
    display: inline-flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    

}

input{
    font-weight: 200;
    color: white;
    font-size: 1.5rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.475);
}


/*input[type=text], select, textarea{
    align-items: right;
  
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid rgb(98, 52, 52);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    
  }*/
  
 
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  
  .formbox {
   
    border-radius: 1rem;
    background-color: #6f1c1ba8;
    padding: 20px;
  }
 
  label{
    color: white;
  }
  
  .error{
    font-weight: 400;
    font-size: 1rem;
    color: #dd7225;
  }

  ::placeholder{
    color:gray
  }

  .btn2 {
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: white;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid transparent;
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    transition: 0.5s;
  }
 
  
  .btn2::after{
    background: linear-gradient(
          45deg,
          transparent 50%,
          rgba(255,255,255,0.03) 58%,
          rgba(255,255,255,0.16) 67%,
          transparent 68%
      );
      height: 100%;
      width: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-size: 200% 100%;
      background-position: 165% 0;
      transition: 0.7s;
  }
  
  .btn2:hover:after{
    background-position: -20% 0;
  }
  .btn2:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-10px);
  }
  
  

